<div id="encabezado">
    <ul>
        <li><a [routerLink]="['/']" routerLinkActive="router-link-active"> <img src="assets/img/clima-icon.jfif"  class="img1"></a></li>
        <li><div id="clima">Clima </div> </li>
        <li><div class="paisCiudad"><h4>Chile -</h4> </div></li>      
    </ul>
</div>

<div id="Regiones">
    <nav>
        <ul>
            <button >Valparaiso</button>
            <button>Metropolitana</button>
            <button>Bio Bio</button>
            <button>Araucania</button>
        </ul>
    </nav>
</div>