ul{
    list-style-type: none;
}

select{
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
}

label{
    font: oblique 15px cursive;

}

input{
    margin-top: 10px;
    margin-bottom: 10px;
}
button{
    margin: 50px;
}