ul#dias{
    list-style-type: none;
    display:flex;
    flex-direction: row;
    
}

ul li{
    margin:20px;
    width: 50px;
    height: 70px;
}

ul#dias li a{
    text-decoration: none;
    color:black;
    text-align: center;
}

.imag2{
    height: 70px;
    width: 70px;
}

div#eleccion{
    padding-left: 570px;
}

button{
    border:0px;
    padding:10px;
    font-size:14px;
    background-color: white;
}
button:hover{
    color: rgb(211, 200, 200);

}
.black{
    color: black;
}
  
.red {
    color: rgb(133, 23, 23);
    font-weight: bold;
}

span{
    position:static;
    display: inline-block;

}